:root {
    --navy-1: #161F31;
    --prim-1: #191d2b;
    --grey-1: #dbe1e8;
    --grey-2: #0A2647;
    --grey-3: #6c7983;
    --lsla-1: #ccd6f6;
    --grey-4: #8A91AD;
    --grey-5: #041C32;
    --gold-1: #ecb365;
    --whit-1: #ffffff;
    --blue-1: #205295;
    --font-main: "Poppins", sans-serif;
    --font-opt: "Noto Sans", sans-serif;
    --font-default: 1rem;
}

* {
    border: 1px solid red;
}

body {
    scroll-behavior: smooth;
    background-color: var(--navy-1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--whit-1);
    transition: all .4s ease-in-out;

    .main-header {
        display: grid;
        height: 60px;
        vertical-align: middle;
        padding: 1rem 1rem;
        justify-content: space-between;
        position: fixed;
    }

    h3 {
        font-size: larger;
    }

    h3>a {
        text-decoration: none;
        color: var(--grey-3);
    }

    h3 a>span {
        font-size: 16px;
        color: var(--gold-1);
    }
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;

    .home {
        height: 90vh;
        line-height: 90vh;
    }

    .home-content {
        text-align: left;
        line-height: 1.5em;
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        float: none;

        .tag,
        .isp {
            color: var(--gold-1);
        }

        .full-name {
            width: 1000px;
            font-size: 6rem;
            margin-top: 40px;
            color: var(--lsla-1);
            font-weight: 700;
        }

        .cta {
            width: 900px;
            font-size: 3rem;
            margin-top: 3px;
            color: var(--grey-4);
            line-height: 1em;
            font-weight: 650;
        }

        .brief-info {
            width: 600px;
            font-size: 16px;
        }

        .btn-con {
            display: flex;
            align-self: flex-start;

            a {
                text-decoration: none;
            }

            .main-btn {
                border-radius: 30px;
                color: inherit;
                font-weight: 500;
                position: relative;
                border: 1px solid var(--gold-1);
                display: flex;
                align-self: flex-start;
                align-items: center;
                overflow: hidden;

                .btn-text {
                    padding: 0 2rem;
                }

                .btn-icon {
                    background-color: var(--gold-1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: .8rem;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(100%);
                    transition: all .4s ease-out;
                    z-index: -1;
                }

                &:hover {
                    transition: all .4s ease-out;

                    &::before {
                        width: 100%;
                        height: 100%;
                        background-color: var(--gold-1);
                        transform: translateX(0);
                        transition: all .4s ease-out;
                    }
                }
            }
        }
    }

    .about-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        justify-content: space-between;

        p {
            line-height: 2rem;
        }

        .left-about {
            margin: 0 1rem;
        }

        .right-about {
            display: grid;
            grid-template-columns: 2fr 2fr;
            margin: 0 2rem;
            text-align: center;
            justify-content: space-between;

            .about-summary-item {
                border: 1px solid var(--grey-3);
                margin: .8rem;
            }


        }
    }

    .main-section-title {
        text-align: center;

        h2 {
            position: relative;
            text-transform: uppercase;
            font-size: 4rem;
            font-weight: 700;

            span {
                color: var(--color-secondary);
            }

            .bg-text {
                position: absolute;
                top: 50%;
                left: 50%;
                color: var(--color-grey-5);
                transition: all .4s ease-in-out;
                z-index: -1;
                transform: translate(-50%, -50%);
                font-weight: 800;
                font-size: 6.3rem;
            }
        }
    }

}

.controls {
    position: fixed;
    z-index: 10;
    top: 60%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--grey-2);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.2rem;
            color: var(--grey-5);
            pointer-events: none;
        }
    }

    .active-btn {
        background-color: var(--gold-1);
        transition: all .5s ease-in-out;

        i {
            color: var(--grey-5);
        }

        &:hover {
            background-color: var(--gold-1);

            i {
                color: var(--whit-1);
            }
        }
    }
}