[submodule "phase-1_linux-and-bash/ltc-linux-challenge"]
	path = phase-1_linux-and-bash/ltc-linux-challenge
	url = https://github.com/learntocloud/ltc-linux-challenge
[submodule "phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v2/ltc-linux-challenge_v1"]
	path = phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v2/ltc-linux-challenge_v1
	url = https://github.com/learntocloud/linux-ctfs.git
[submodule "phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v1/ltc-linux-challenge_v1"]
	path = phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v1/ltc-linux-challenge_v1
	url = https://github.com/learntocloud/linux-ctfs.git
[submodule "phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v2/ltc-linux-challenge_v2"]
	path = phase-1_linux-and-bash/phase-1_linux-and-bash/challenge_v2/ltc-linux-challenge_v2
	url = https://github.com/learntocloud/linux-ctfs.git
